{% extends '@App/layout.html.twig' %}

{% block title %}{{ 'about'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'about'|trans }}</h1>
        <p>{{ 'about_text'|trans|raw }}</p>
    </div>
{% endblock %}