{% extends '@App/layout.html.twig' %}

{% block title %}Something went wrong{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-md-6 col-md-offset-3 top-margined">
            <h2>Oops...</h2>
            <div>Something went wrong :( <br>Please try again later.</div>

        </div>
    </div>

{% endblock %}