{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1 wrapper top-margined">
            <h1 class="col-md-6 col-md-offset-2 bottom-margined">Find all 404 links on your site</h1>
            <form>
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="email" class="form-control" id="website" aria-describedby="emailHelp" placeholder="Enter website">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}