{% extends '@App/layout.html.twig' %}

{% block title %}404links.ru{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1 wrapper top-margined" id="website-submit-form-container">
            <h1 class="col-md-6 col-md-offset-2 bottom-margined">Find all 404 links on your site</h1>
            <form id="website-submit-form" method="post" action="{{ path('homepage') }}">
                <div class="col-md-8">
                    <div class="form-group">
                        <input class="form-control" id="url" name="url" placeholder="Enter website">
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="website-submit-form-button" type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </form>
        </div>

        {% include '@App/@partials/progress-bar.html.twig' %}
    </div>
{% endblock %}