{% extends '@App/layout.html.twig' %}

{% block title %}404links.ru{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1 wrapper top-margined">
            <h1 class="col-md-6 col-md-offset-2 bottom-margined">{{ 'find_all_links'|trans }}</h1>
            <form method="post" action="{{ path('homepage') }}">
                <div class="col-md-8">
                    <div class="form-group">
                        <input class="form-control" id="url" name="url" placeholder="{{ 'enter_website'|trans([], 'form') }}">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary submit">{{ 'submit'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}