{% if errors is defined %}
    <div class="form-group">
        <div class="alert alert-danger" role="alert">
            {% for error in errors %}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>{{ error }}<br>
            {% endfor %}
        </div>
    </div>
{% endif %}