{% for message in app.session.flashBag.get('success') %}
    <div class="form-group">
        <div class="alert alert-success" role="alert">{{ 'successful_feedback'|trans }}</div>
    </div>
{% endfor %}