<div class="spinner">
    <div class="col-md-10 col-md-offset-1 wrapper top-margined">
        <div class="col-md-8 col-md-offset-1 bottom-margined">
            <h4>{{ 'proccessing'|trans }}</h4>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
</div>