.wrapper {
    text-align: center;
    width: 100%;
}

.top-margined {
    margin-top: 5%;
}

.bottom-margined {
    margin-bottom: 5%;
}

form {
    margin: auto;
    width: 100%;
}

.submit{
    width: 100%;
}

.error_list{
    list-style-type: none;
    color: #a50000;
    margin: 0 0 -10px -38px;
}